@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}
body {
  overflow-x: hidden;
  min-height: 100vh;
}

#background {
  background: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  /* photo by eberhard grossgasteiger on Pexels*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
}

#header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo {
  font-weight: 300;
  font-size: 3vw;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 0.7em #000;
}

#header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header ul li {
  margin-left: 1.25vw;
  font-weight: 700;
}

#header ul li a {
  text-decoration: none;
  padding: 0.5em 0.94em;
  color: #4e4e4e;
  font-size: 1vw;
}

#header ul li a:hover {
  background: #12bde7;
  color: #fff;
  transition: ease-in-out 0.15s;
  border-radius: 1.25em;
}

#welcome {
  position: absolute;
  width: 70%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*welcome*/
#welcome p span {
  font-family: "Fira Sans";
  font-size: 3vw;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(39, 55, 59, 0.377), -1px -1px 4px #27373b,
    0 0 0.5em #0099ff, 0 0 0.7em #4eb8ff;
  position: absolute;
  text-align: left;
}

/*To my portfolio*/
#welcome p#text {
  font-family: "Fira Sans";
  font-size: 4vw;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 1px 1px 4px #27373b, -1px -1px 4px #27373b, 0 0 0.5em #0099ff,
    0 0 0.7em #4eb8ff;
  position: absolute;
  text-align: left;
  line-height: 1em;
  letter-spacing: 0.3em;
}

#btn {
  display: inline-block;
  padding: 8px 30px;
  align-items: center;
}

.middle {
  position: absolute;
  top: 90vh;
  left: 50%;
  z-index:1;
}

.mouse {
  width: 25px;
  height: 45px;
  border: 1px solid #4c4c4c;
  border-radius: 60px;
}

.mouse::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 30px;
  background: #4c4c4c;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

#sec2::before {
  content: "";
  position: absolute;
  bottom: -1vw;
  width: 100%;
  height: 10em;
  background: linear-gradient(180deg, transparent, #a0a7ad 50%, #fff);
}

.row{
  align-items: center;
}

.col-md-6 {
  display:flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
}

.about {
  background: #fff;
  margin-top: 5em;
  padding: 2em;
}

h1 {
  color: #0f96b8;
  font-weight: 700;
  margin-top: 1em !important;
}
#aboutme{
  width: 45%;
}

#aboutme p {
  font-size: 1.3em;
  font-weight: 200;
  font-family: "Fira Sans";
  width: 75%;
}

img {
  border-radius: 1em;
  width: 90%;
  height: auto;
  display: block;
  float: right;
}

.container {
  justify-content: center;
  display: flex;
}

.button {
  background: #12bde7;
  color: #fff;
  font-size: 1.2em;
  border: 0.3em solid #12bde7;
  border-radius: 2em;
  padding: 0.2em 0.6em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.button:hover {
  background: #0f96b8;
  color: #fff;
  font-size: 1.2em;
  border: 0.3em solid #0f96b8;
  border-radius: 2em;
  padding: 0.2em 1em;
  transition: ease-in-out 0.25s;
  box-shadow: 1px 2px 5px #000;
}

.bottom {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  margin-top: 50px;
}
