#background {
  background: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  /* photo by eberhard grossgasteiger on Pexels*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
}



#welcome {
  position: absolute;
  width: 70%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*welcome*/
#welcome p span {
  font-family: "Fira Sans";
  font-size: 3vw;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(39, 55, 59, 0.377), -1px -1px 4px #27373b,
    0 0 0.5em #0099ff, 0 0 0.7em #4eb8ff;
  position: absolute;
  text-align: left;
}

/*To my portfolio*/
#welcome p#text {
  font-family: "Fira Sans";
  font-size: 4vw;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 1px 1px 4px #27373b, -1px -1px 4px #27373b, 0 0 0.5em #0099ff,
    0 0 0.7em #4eb8ff;
  position: absolute;
  text-align: left;
  line-height: 1em;
  letter-spacing: 0.3em;
}

.middle {
  position: absolute;
  top: 86vh;
  left: 50%;
  z-index: 1;
}

.mouse {
  width: 1.6em;
  height: 3em;
  border: 1px solid #4c4c4c;
  border-radius: 60px;
}

.mouse::before {
  content: "";
  width: 0.35em;
  height: 0.35em;
  position: absolute;
  top: 2em;
  background: #4c4c4c;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

#sec2 {
  background: #fff;
  width: 100%;
  height: 2em;
}

#sec2::before {
  content: "";
  position: absolute;
  bottom: -8vh;
  width: 100%;
  height: 28em;
  background: linear-gradient(180deg, transparent, #a0a7ad 50%, #fff);
}

.row {
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: 10em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.row img {
  border-radius: 4em 0 4em 0;
  width: 100%;
  padding-top: 7px;
}

h1 {
  color: #0f96b8;
  font-weight: 700;
  margin-top: 1em !important;
}

#aboutme p {
  font-size: 1.3em;
  font-weight: 200;
  font-family: "Fira Sans";
  display: contents;
}



.button {
  background: #12bde7;
  color: #fff;
  font-size: 1.2em;
  border: 0.3em solid #12bde7;
  border-radius: 2em;
  padding: 0.2em 0.6em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.button:hover {
  background: #0f96b8;
  color: #fff;
  font-size: 1.2em;
  border: 0.3em solid #0f96b8;
  border-radius: 2em;
  padding: 0.2em 1em;
  transition: ease-in-out 0.25s;
  box-shadow: 1px 2px 5px #000;
}

